<meta charset="utf-8">
<form action="/reg" method="post">
	用户名:<input type="text" name="username" id="u1"><br />
	密码:<input type="password" name="pass"><br />
	<input type="submit" name="sub" value="注册">
</form>

<script src="javascripts/jquery-1.12.4.min.js"></script>
<script>
	$("#u1").blur(function(){
		var val=$(this).val();
		$.post('/checkname',"username="+val,function(data){
			console.log(typeof(data));
			var strobj=eval('('+data+')');
			console.log(typeof(strobj));
			//var strobj=JSON.parse(data);
			//console.log(typeof(strobj));
			/*
			if(data=='success'){
				$("#u1").after("<span>用户名重名</span>");
			}*/
		},'text')
	});
</script>